<div class="row">
        <div class="col-lg-6 register">
            <h2>Register</h2>
            <partial name="_Register" />
        </div>
        <div class="col-lg-6 login">
            <h2>Login</h2>
            <partial name="_Login" />
        </div>
    </div>